@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src:
      local('Pretendard Bold'),
      url('/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-Bold.subset.woff') format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src:
      local('Pretendard SemiBold'),
      url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-SemiBold.subset.woff') format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src:
      local('Pretendard Medium'),
      url('/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-Medium.subset.woff') format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src:
      local('Pretendard Regular'),
      url('/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-Regular.subset.woff') format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src:
      local('Pretendard Light'),
      url('/fonts/Pretendard-Light.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-Light.subset.woff') format('woff');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src:
      local('Pretendard ExtraLight'),
      url('/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'),
      url('/fonts/Pretendard-ExtraLight.subset.woff') format('woff');
  }
}

html {
  @apply font-sans;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.notion-image {
  img {
    width: 100%;
  }
}

.notion-table {
  margin: 0 auto;
}
